.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791 !important; }
.owl-theme .owl-dots .owl-dot span {
  background: #263869 !important; }

.dark-bg {
  color: #fff !important; }

.webz-block-with-modal.vc-ambassador {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 1.2rem 0;
  padding: 0;
  transition: 0.2s ease all;
  cursor: pointer; }
  .webz-block-with-modal.vc-ambassador .wpb_text_column {
    padding: 10px 20px 18px 20px;
    margin-bottom: 0; }
  .webz-block-with-modal.vc-ambassador:hover, .webz-block-with-modal.vc-ambassador:focus, .webz-block-with-modal.vc-ambassador:active {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease all; }
  .webz-block-with-modal.vc-ambassador .wpb_single_image {
    margin-bottom: 0px; }
    .webz-block-with-modal.vc-ambassador .wpb_single_image .vc_figure {
      width: 100%; }
      .webz-block-with-modal.vc-ambassador .wpb_single_image .vc_figure .vc_single_image-wrapper {
        width: 100%; }
        .webz-block-with-modal.vc-ambassador .wpb_single_image .vc_figure .vc_single_image-wrapper img {
          width: 100%; }

.vc_column_container.no-padding .vc_column-inner {
  padding: 0px !important; }

.webz-advanced-posts-slider .webz-advanced-posts-slider-image {
  height: 150px !important; }

.newsSlider .singleNews .webz-advanced-posts-slider-content {
  padding: 10px 20px;
  /*            .webz-advanced-posts-slider-read-more-btn{
                  .btn,.btn:hover{
                      background: #1B75BC !important;
                      border-color: #1B75BC !important;
                      border-radius: 0 !important;
                      color: #fff;
                      padding: 5px;
                  }
              }*/ }

.no-padding-top {
  padding-top: 0px !important; }

section {
  min-height: auto !important; }

body {
  font-family: "urw-din",sans-serif; }

.wp-image-1027, .wp-image-1026 {
  opacity: .85; }
  .wp-image-1027:hover, .wp-image-1027:focus, .wp-image-1027:active, .wp-image-1026:hover, .wp-image-1026:focus, .wp-image-1026:active {
    opacity: 1; }

input {
  height: 47px; }

.webz-content-slider-item .wpb_column.vc_column_container .wpb_content_element {
  display: flex;
  align-content: center; }
  .webz-content-slider-item .wpb_column.vc_column_container .wpb_content_element .wpb_wrapper {
    align-self: center; }

.modal.modal-webz-block-with-modal {
  background-image: url("../img/bg_modal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: crosshair;
  align-items: center; }
  .modal.modal-webz-block-with-modal.show {
    display: flex;
    align-content: center;
    flex-direction: column; }
    .modal.modal-webz-block-with-modal.show .modal-dialog.modal-lg {
      align-self: center; }
  .modal.modal-webz-block-with-modal .modal-content {
    cursor: auto;
    background-color: transparent;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    border: 0 !important; }
    .modal.modal-webz-block-with-modal .modal-content h2 {
      font-size: 4rem;
      font-weight: normal;
      margin-bottom: 0; }
    .modal.modal-webz-block-with-modal .modal-content h3 {
      color: #e00b1e;
      font-size: 3.5rem;
      border-bottom: 2px solid #fff;
      padding-bottom: 15px;
      font-weight: 600; }
    .modal.modal-webz-block-with-modal .modal-content h5 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 2.5rem; }
  .modal.modal-webz-block-with-modal .modal-dialog.modal-lg {
    padding: 10px;
    max-width: 1200px; }
    @media screen and (max-width: 640px) {
      .modal.modal-webz-block-with-modal .modal-dialog.modal-lg {
        max-width: 100%;
        padding: 20px; } }
    .modal.modal-webz-block-with-modal .modal-dialog.modal-lg .close {
      position: relative;
      right: 0;
      margin-right: -15px;
      margin-top: -25px;
      color: #fff;
      opacity: 1;
      z-index: 9999;
      padding: 10px;
      float: right; }

@media screen and (min-width: 640px) {
  .form-control {
    width: 400px; } }
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  background: #007bff;
  color: #fff;
  margin: 0;
  margin-top: 10px;
  border: 0 !important; }

.single-post section.vc_parallax {
  position: relative; }
  .single-post section.vc_parallax:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 60, 120, 0.8); }

.features .counter {
  background-color: yellow;
  font-weight: bold;
  font-weight: 700;
  font-size: 1.2rem;
  color: #000; }

@media screen and (min-width: 960px) {
  #tip2 {
    margin-top: 200px; }

  #tip5 {
    margin-top: 50px; }

  #tip23 {
    margin-top: 95px; }

  #tip21 {
    margin-top: 58px; }

  #tip1 {
    margin-top: 100px; } }
.owl-carousel .owl-item img {
  max-width: 100%;
  height: auto;
  display: inline-block !important; }

.input-group .btn-primary {
  line-height: 1rem; }

@media screen and (min-width: 769px) {
  .features-left {
    text-align: right; } }
@media screen and (max-width: 768px) {
  .logoCont {
    flex-direction: column; }

  div.wpcf7 .ajax-loader {
    display: none !important; }

  .webz-content-slider-item .wpb_column.vc_column_container .wpb_content_element {
    min-height: auto; }

  .page-id-1173 .features {
    text-align: center !important; }

  .wp-image-1027,
  .wp-image-1026 {
    margin: 10px auto !important; }

  .input-group {
    justify-content: center; }
    .input-group .input {
      margin: 5px auto;
      border-radius: 0 !important; } }

/*# sourceMappingURL=styles-overwrite.css.map */
