/* line 6, styles-overwrite.scss */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791 !important;
}
/* line 11, styles-overwrite.scss */
.owl-theme .owl-dots .owl-dot span {
  background: #263869 !important;
}

/* line 19, styles-overwrite.scss */
.dark-bg {
  color: #fff !important;
}

/* line 27, styles-overwrite.scss */
.webz-block-with-modal.vc-ambassador {
  display: block;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 1.2rem 0;
  padding: 0;
  transition: 0.2s ease all;
  cursor: pointer;
}
/* line 36, styles-overwrite.scss */
.webz-block-with-modal.vc-ambassador .wpb_text_column {
  padding: 10px 20px 18px 20px;
  margin-bottom: 0;
}
/* line 41, styles-overwrite.scss */
.webz-block-with-modal.vc-ambassador:hover, .webz-block-with-modal.vc-ambassador:focus, .webz-block-with-modal.vc-ambassador:active {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease all;
}
/* line 46, styles-overwrite.scss */
.webz-block-with-modal.vc-ambassador .wpb_single_image {
  margin-bottom: 0px;
}
/* line 48, styles-overwrite.scss */
.webz-block-with-modal.vc-ambassador .wpb_single_image .vc_figure {
  width: 100%;
}
/* line 51, styles-overwrite.scss */
.webz-block-with-modal.vc-ambassador .wpb_single_image .vc_figure .vc_single_image-wrapper {
  width: 100%;
}
/* line 54, styles-overwrite.scss */
.webz-block-with-modal.vc-ambassador .wpb_single_image .vc_figure .vc_single_image-wrapper img {
  width: 100%;
}
/* line 66, styles-overwrite.scss */
.webz-block-with-modal:hover {
  text-decoration: none;
}

/* line 74, styles-overwrite.scss */
.vc_column_container.no-padding .vc_column-inner {
  padding: 0px !important;
}

/* line 81, styles-overwrite.scss */
.webz-advanced-posts-slider .webz-advanced-posts-slider-image {
  height: 150px !important;
}

/* line 88, styles-overwrite.scss */
.newsSlider .singleNews .webz-advanced-posts-slider-content {
  padding: 10px 20px;
  /*            .webz-advanced-posts-slider-read-more-btn{
                  .btn,.btn:hover{
                      background: #1B75BC !important;
                      border-color: #1B75BC !important;
                      border-radius: 0 !important;
                      color: #fff;
                      padding: 5px;
                  }
              }*/
}

/* line 105, styles-overwrite.scss */
.no-padding-top {
  padding-top: 0px !important;
}

/* line 109, styles-overwrite.scss */
section {
  min-height: auto !important;
}

/* line 115, styles-overwrite.scss */
body {
  font-family: "urw-din",sans-serif;
}

/* line 119, styles-overwrite.scss */
.wp-image-1027, .wp-image-1026 {
  opacity: .85;
}
/* line 122, styles-overwrite.scss */
.wp-image-1027:hover, .wp-image-1027:focus, .wp-image-1027:active, .wp-image-1026:hover, .wp-image-1026:focus, .wp-image-1026:active {
  opacity: 1;
}

/* line 132, styles-overwrite.scss */
input {
  height: 47px;
}

/* line 137, styles-overwrite.scss */
.injury-bar {
  margin-top: 30px;
}

/* line 141, styles-overwrite.scss */
.injuries {
  margin: 20px auto;
}
/* line 144, styles-overwrite.scss */
.injuries td {
  padding: 5px 0;
}
/* line 149, styles-overwrite.scss */
.injuries th {
  font-weight: bold;
  padding: 5px;
  background: #f6f6f6;
}

/* line 161, styles-overwrite.scss */
.webz-content-slider-item .wpb_column.vc_column_container .wpb_content_element {
  display: flex;
  align-content: center;
}
/* line 167, styles-overwrite.scss */
.webz-content-slider-item .wpb_column.vc_column_container .wpb_content_element .wpb_wrapper {
  align-self: center;
}

/* line 175, styles-overwrite.scss */
.modal.modal-webz-block-with-modal {
  background-image: url("../img/bg_modal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: crosshair;
  align-items: center;
}
/* line 185, styles-overwrite.scss */
.modal.modal-webz-block-with-modal.show {
  display: flex;
  align-content: center;
  flex-direction: column;
}
/* line 191, styles-overwrite.scss */
.modal.modal-webz-block-with-modal.show .modal-dialog.modal-lg {
  align-self: center;
}
/* line 204, styles-overwrite.scss */
.modal.modal-webz-block-with-modal .modal-content {
  cursor: auto;
  background-color: transparent;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border: 0 !important;
}
/* line 211, styles-overwrite.scss */
.modal.modal-webz-block-with-modal .modal-content h2 {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 0;
}
/* line 217, styles-overwrite.scss */
.modal.modal-webz-block-with-modal .modal-content h3 {
  color: #e00b1e;
  font-size: 3.5rem;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  font-weight: 600;
}
/* line 225, styles-overwrite.scss */
.modal.modal-webz-block-with-modal .modal-content h5 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.5rem;
}
/* line 238, styles-overwrite.scss */
.modal.modal-webz-block-with-modal .modal-dialog.modal-lg {
  padding: 10px;
  max-width: 1200px;
}
@media screen and (max-width: 640px) {
  /* line 238, styles-overwrite.scss */
  .modal.modal-webz-block-with-modal .modal-dialog.modal-lg {
    max-width: 100%;
    padding: 20px;
  }
}
/* line 251, styles-overwrite.scss */
.modal.modal-webz-block-with-modal .modal-dialog.modal-lg .close {
  position: relative;
  right: 0;
  margin-right: -15px;
  margin-top: -25px;
  color: #fff;
  opacity: 1;
  z-index: 9999;
  padding: 10px;
  float: right;
}

@media screen and (min-width: 640px) {
  /* line 268, styles-overwrite.scss */
  .form-control:not(.clean-bs) {
    width: 400px;
  }
}
/* line 274, styles-overwrite.scss */
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  margin: 0;
  margin-top: 10px;
  border: 0 !important;
}

/* line 281, styles-overwrite.scss */
.wpcf7-response-output {
  margin-top: 0.5rem !important;
  border: none !important;
  padding: 0 !important;
  background: none !important;
}

/* line 288, styles-overwrite.scss */
.wpcf7-not-valid-tip {
  display: none !important;
}

/* line 292, styles-overwrite.scss */
input.wpcf7-not-valid, textarea.wpcf7-not-valid {
  border-color: red !important;
}

/* line 298, styles-overwrite.scss */
.single-post section.vc_parallax {
  position: relative;
}
/* line 301, styles-overwrite.scss */
.single-post section.vc_parallax:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 60, 120, 0.8);
}

/* line 314, styles-overwrite.scss */
.features .counter {
  background-color: yellow;
  font-weight: bold;
  font-weight: 700;
  font-size: 1.2rem;
  color: #000;
}

@media screen and (min-width: 960px) {
  /* line 326, styles-overwrite.scss */
  #main {
    margin-top: 87px;
  }

  /* line 329, styles-overwrite.scss */
  #tip2 {
    margin-top: 200px;
  }

  /* line 334, styles-overwrite.scss */
  #tip5 {
    margin-top: 50px;
  }

  /* line 338, styles-overwrite.scss */
  #tip23 {
    margin-top: 95px;
  }

  /* line 342, styles-overwrite.scss */
  #tip21 {
    margin-top: 58px;
  }

  /* line 346, styles-overwrite.scss */
  #tip1 {
    margin-top: 100px;
  }
}
/* line 353, styles-overwrite.scss */
.owl-carousel .owl-item img {
  max-width: 100%;
  height: auto;
  display: inline-block !important;
}

/* line 362, styles-overwrite.scss */
.input-group .btn-primary {
  line-height: 1rem;
}

/* line 370, styles-overwrite.scss */
.page .single-post-header,
.single-post .single-post-header {
  position: relative;
}
/* line 373, styles-overwrite.scss */
.page .single-post-header:after,
.single-post .single-post-header:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 60, 120, 0.8);
  flex-grow: 1;
}
/* line 384, styles-overwrite.scss */
.page .vc_column_container > .vc_column-inner,
.single-post .vc_column_container > .vc_column-inner {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  /* line 393, styles-overwrite.scss */
  .features-left {
    text-align: right;
  }
}
@media screen and (max-width: 768px) {
  /* line 403, styles-overwrite.scss */
  .logoCont {
    flex-direction: column;
  }

  /* line 407, styles-overwrite.scss */
  div.wpcf7 .ajax-loader {
    display: none !important;
  }

  /* line 410, styles-overwrite.scss */
  .webz-content-slider-item .wpb_column.vc_column_container .wpb_content_element {
    min-height: auto;
  }

  /* line 415, styles-overwrite.scss */
  .page-id-1173 .features {
    text-align: center !important;
  }

  /* line 420, styles-overwrite.scss */
  .wp-image-1027,
  .wp-image-1026 {
    margin: 10px auto !important;
  }

  /* line 424, styles-overwrite.scss */
  .input-group {
    justify-content: center;
  }
  /* line 427, styles-overwrite.scss */
  .input-group .input {
    margin: 5px auto;
    border-radius: 0 !important;
  }
}
/* line 434, styles-overwrite.scss */
.single-ambassador section:first-child {
  background-image: url("../img/bg_modal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
/* line 443, styles-overwrite.scss */
.single-ambassador section:first-child h2 {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 0;
}
/* line 449, styles-overwrite.scss */
.single-ambassador section:first-child h3 {
  color: #e00b1e;
  font-size: 3.5rem;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  font-weight: 600;
}
/* line 457, styles-overwrite.scss */
.single-ambassador section:first-child h5 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.5rem;
}

/*body .a2a_floating_style{
    display: none;
}

body.single-post .a2a_floating_style{
    display: block;
}*/
/* line 473, styles-overwrite.scss */
.comment-awaiting-moderation {
  color: orange;
  padding-top: 10px;
  margin-bottom: -10px;
  display: block;
}

/* line 480, styles-overwrite.scss */
.comment {
  margin-bottom: 30px;
}

/* line 484, styles-overwrite.scss */
.mt10 {
  margin-top: 10px;
}

/* line 488, styles-overwrite.scss */
.mt20 {
  margin-top: 20px;
}

/* line 492, styles-overwrite.scss */
.mt30 {
  margin-top: 30px;
}

@media (max-width: 767px) {
  /* line 497, styles-overwrite.scss */
  .mt30-sm {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 503, styles-overwrite.scss */
  .mt30-md {
    margin-top: 30px;
  }
}
/* line 510, styles-overwrite.scss */
#main {
  max-width: 100%;
  overflow-x: hidden;
}

/*# sourceMappingURL=styles-overwrite.css.map */
