@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
h1 {
  font-weight: 700;
  color: #161616; }

h2 {
  font-weight: 300;
  font-size: 24px; }
  h2.pink {
    color: #1B75BC; }

.h5 {
  font-size: 2rem;
  display: block; }

section {
  padding: 80px 20px;
  min-height: 400px; }
  section.no-padding {
    padding: 0; }
  section.smallpadding {
    padding: 35px; }
  section.no-padding-sides {
    padding-left: 0;
    padding-right: 0; }
  section.no-padding-bottom {
    padding-bottom: 0; }
  section.shadow {
    box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.2); }

.btn {
  border-radius: 0;
  padding: 10px 20px;
  min-width: 120px;
  border: 2px solid;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1); }
  .btn:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    transition: ease all 0.2s; }
  .btn:active, .btn:focus {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1) !important;
    transition: ease all 0.2s; }
  .btn.btn-primary {
    background: #1B75BC;
    border-color: #1B75BC; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #15598f; }
    .btn.btn-primary:active {
      background-color: #114b79 !important;
      box-shadow: 0;
      border-color: #0e3d63 !important; }
  .btn.btn-outline-primary {
    border-color: #1B75BC;
    color: #1B75BC; }
    .btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus {
      background-color: #15598f;
      color: #fff; }
    .btn.btn-outline-primary:active {
      background-color: #114b79 !important;
      box-shadow: 0;
      border-color: #0e3d63 !important; }
  .btn.btn-outline-secondary {
    border-color: #fff;
    color: #fff; }
    .btn.btn-outline-secondary:hover {
      background-color: #fff;
      color: #333; }
    .btn.btn-outline-secondary:focus, .btn.btn-outline-secondary:active {
      background-color: #fff !important;
      color: #333 !important;
      border-color: #fff !important; }

nav a:hover {
  text-decoration: none;
  border-bottom: 2px solid #1B75BC; }

nav a.active {
  border-bottom: 2px solid #1B75BC;
  color: #333; }

nav a.strong {
  font-weight: 700; }

figure.logo {
  height: 250px;
  width: 250px;
  margin: 20px auto;
  padding: 0;
  background-color: #fff; }
  figure.logo img {
    max-width: 100%;
    height: auto; }
  figure.logo.footer {
    width: 350px;
    height: 350px; }

#intro {
  background-image: url(../img/bg-smoke.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  padding: 20px;
  margin-top: 70px; }
  #intro figure {
    height: 250px;
    width: 250px;
    margin: 20px auto; }

#main {
  margin-top: 65px; }

.bg-pink {
  background: #1B75BC;
  color: #fff; }

.bg-grey {
  background-color: #F3F3F3; }

.bg-blue {
  background-color: #F4FAFF; }

.slider.bg-image .owl-carousel .item {
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 30px;
  min-height: 420px;
  position: relative;
  z-index: 2; }
  .slider.bg-image .owl-carousel .item:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0; }

.slider.dark .item {
  color: #fff; }
  .slider.dark .item h1, .slider.dark .item h2 {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

.row.intro {
  margin-bottom: 3rem; }

#services .service-single h2 {
  font-size: 1.6rem; }

#services .service-single a {
  color: #333; }
  #services .service-single a:hover {
    text-decoration: none; }

#services .service-single img {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  transition: all ease .3s;
  margin-right: -.5rem;
  margin-left: .5rem; }

#services .service-single .box {
  height: 300px;
  display: flex;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  padding: 0;
  transition: box-shadow ease-in-out 0.1s; }
  #services .service-single .box:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow ease-in-out 0.1s; }
  #services .service-single .box h5 {
    font-size: 30px; }
  #services .service-single .box a {
    color: #fff;
    display: block;
    padding: 1rem; }

#services .service-single .box-inside {
  align-self: flex-end; }

.footer-details {
  font-weight: 300; }

#testimonials {
  background-color: #1B75BC;
  color: #fff;
  background-image: url(../img/bg-testimonials.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px; }
  #testimonials h1, #testimonials h2 {
    color: #fff; }
  #testimonials .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px; }

.dots-low.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px; }

.quote {
  font-style: italic; }

.client {
  font-weight: 700;
  margin-top: 2rem;
  text-align: center; }
  .client img {
    max-width: 90px;
    margin: 10px auto; }

#footer {
  padding: 10px;
  font-size: 0.8rem; }
  #footer a {
    color: #fff;
    text-decoration: none;
    display: inline-block; }

#social .social-media-wrapper {
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow: hidden;
  transition: all ease-in-out 0.2s; }
  #social .social-media-wrapper img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
    cursor: pointer; }

#social a, #social h2 {
  padding: 0;
  display: inline-block;
  color: #1B75BC;
  margin-bottom: 1rem; }

.overlay-white {
  position: relative; }
  .overlay-white:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, white 0%, rgba(255, 255, 255, 0.7) 22%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); }

.form-control {
  border-radius: 0; }
  .form-control:focus {
    border-color: #1B75BC;
    box-shadow: none; }

textarea {
  height: 93px; }

span.pink {
  color: #1B75BC; }

span.strong {
  font-weight: 700; }

a {
  color: #333; }
  a:hover {
    color: #1B75BC; }

.shadow {
  box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.2); }

.service-list ul {
  padding-left: 25px; }
  .service-list ul li {
    padding: 4px 0; }

#priceTable table thead th {
  background-color: #1B75BC;
  border: 0;
  text-align: center; }
  #priceTable table thead th:first-child {
    text-align: left;
    padding-left: 30px; }

#priceTable table tr td {
  text-align: center; }
  #priceTable table tr td:first-child {
    font-weight: bold;
    padding-left: 30px;
    text-align: left; }

#faq {
  background-color: #F3F3F3; }

.navbar {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }

.navbar-brand {
  border: 0; }
  .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    border: 0; }

.navbar-nav .nav-item {
  margin-left: 10px;
  margin-right: 10px; }

.navbar-nav .dropdown-menu {
  margin-top: -1px;
  padding: 0;
  border-radius: 0; }
  .navbar-nav .dropdown-menu a {
    padding-top: 10px;
    padding-bottom: 10px; }
    .navbar-nav .dropdown-menu a.active {
      border: 0;
      background: #1B75BC;
      color: #fff; }
    .navbar-nav .dropdown-menu a:hover {
      background-color: #1B75BC;
      color: #fff;
      border: 0; }

.navbar-nav .dropdown:hover > .dropdown-menu {
  display: block; }

.products h5 {
  font-weight: bold; }

.gallery {
  max-height: 500px; }
  .gallery.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 20px; }
  .gallery .item,
  .gallery img {
    max-height: 400px;
    background-color: #fff;
    height: auto;
    max-width: 100%; }

.products h5 {
  margin-bottom: 1rem;
  margin-top: 1.5rem; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #fff;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -30px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: relative; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #263869;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

#accordion {
  text-align: left;
  list-style: none;
  padding: 0;
  background-color: #fff;
  border: 1px solid #cdcdcd; }
  #accordion .ui-accordion-header {
    margin: 0;
    position: relative;
    background-color: #fff;
    padding: 1rem;
    border-top: 1px solid #f3f3f3;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding-left: 55px;
    outline: 0; }
    #accordion .ui-accordion-header:after {
      content: '';
      position: absolute;
      right: 10px;
      top: 0;
      width: 30px;
      height: 30px;
      margin-top: 10px;
      background-image: url("../img/icon-accordion-chevron-right.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.2s ease all; }
    #accordion .ui-accordion-header.ui-accordion-header-active {
      border-bottom: 1px solid #cdcdcd; }
      #accordion .ui-accordion-header.ui-accordion-header-active:after {
        transform: rotate(90deg);
        transition: 0.2s ease all; }
    #accordion .ui-accordion-header:before {
      content: '';
      position: absolute;
      left: 12px;
      right: 100%;
      top: 0;
      width: 30px;
      height: 30px;
      margin-top: 10px;
      background-image: url("../img/icon-accordion-question.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
  #accordion .ui-accordion-content {
    padding: 10px 25px 30px;
    overflow: hidden;
    display: none; }
    #accordion .ui-accordion-content ul {
      margin: 5px;
      position: relative; }
      #accordion .ui-accordion-content ul li {
        list-style-type: square;
        padding: 5px; }

@media screen and (max-width: 768px) {
  .contactDetails {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 3rem; }
  figure.logo {
    height: 250px;
    width: 50px;
    margin: 20px auto;
    padding: 0;
    background-color: #fff; }
    figure.logo img {
      max-width: 100%;
      height: auto; }
    figure.logo.footer {
      width: 250px;
      height: 250px;
      margin: 10px auto; }
  section {
    padding: 50px 5px; }
  .intro {
    margin-bottom: 2rem; }
  .navbar-nav .nav-item {
    padding: 10px;
    text-align: center; }
    .navbar-nav .nav-item .dropdown-menu {
      border: 0;
      text-align: center;
      padding: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
  #priceTable table thead th {
    padding: 5px; }
    #priceTable table thead th:first-child {
      padding: 5px; }
  #priceTable table tr td:first-child {
    padding: 5px; } }

#headCart > .price {
  font-weight: bold; }

#headCart img {
  margin-bottom: 4px; }

#headCart > .cart {
  padding: .5rem; }

#headCart a {
  padding: 0;
  display: inline; }

#headCart ul {
  padding: 0;
  margin: 0; }
  #headCart ul li {
    padding: .5rem;
    margin: 0;
    border-bottom: 1px solid #F3F3F3;
    background: #fff; }
    #headCart ul li a:hover {
      text-decoration: underline;
      background: unset;
      color: #1B75BC; }
    #headCart ul li.cart-total {
      font-weight: bold; }

#headCart .cart-item {
  display: flex; }

.cart:hover {
  text-decoration: none;
  border: none; }

.cart .badge {
  padding: 5px;
  min-width: 23px;
  border-radius: 10px; }

.cart + .cart {
  background: #f3f3f3;
  border: 0;
  font-size: 0.85rem;
  min-width: 300px;
  padding: 15px; }
  .cart + .cart .price {
    width: 60px;
    text-align: right; }
  .cart + .cart .qty {
    width: 40px;
    margin-left: auto;
    text-align: center; }

#footer {
  background-color: #1B75BC;
  color: #fff;
  padding: 30px; }
  #footer h5 {
    font-size: 1rem;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    margin-bottom: 10px; }
  #footer ul {
    padding: 0;
    margin: 0; }
    #footer ul li {
      list-style: none;
      padding: 0;
      margin: 0; }
      #footer ul li a {
        padding: 5px 0; }
    #footer ul.social img {
      margin-right: 5px; }
  #footer p {
    line-height: 1.5rem; }

h2 {
  font-size: 2rem; }

.productList {
  margin-top: 2rem; }

.product {
  background-color: #fff;
  transition: all ease 0.2s;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  margin-bottom: auto; }
  .product .product-photo {
    text-align: center;
    padding: 1rem 0 1rem;
    height: 200px;
    align-self: center; }
    .product .product-photo img {
      max-width: 100%;
      height: auto;
      margin: 10px auto; }
  .product .product-title {
    margin-bottom: .5rem; }
    .product .product-title a {
      color: #1B75BC;
      font-size: 20px;
      font-weight: bold; }
  .product .product-price {
    font-weight: bold;
    margin-bottom: .5rem;
    align-self: center; }
    .product .product-price .old {
      text-decoration: line-through;
      font-weight: normal; }
  .product .product-button {
    align-self: center;
    margin-top: auto; }

.guarantee {
  text-align: center; }
  .guarantee .guarantee-picture {
    height: 80px; }
  .guarantee .guarantee-title {
    color: #1B75BC;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: .5rem; }
  .guarantee .guarantee-desc {
    font-size: .9rem; }

.clients {
  align-content: center; }
  .clients .item {
    text-align: center;
    min-height: 100px;
    align-content: center; }
    .clients .item a {
      min-height: 120px;
      flex-flow: column;
      display: flex; }
    .clients .item img {
      max-width: 100%;
      height: auto;
      margin: auto;
      align-self: center;
      display: flex;
      align-content: center;
      width: auto; }

.categories .category-list .category-single {
  margin-bottom: 2rem;
  color: #fff; }
  .categories .category-list .category-single .box {
    height: 300px;
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 0;
    transition: box-shadow ease-in-out 0.1s; }
    .categories .category-list .category-single .box:hover {
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
      transition: box-shadow ease-in-out 0.1s; }
    .categories .category-list .category-single .box h5 {
      font-size: 30px; }
    .categories .category-list .category-single .box a {
      color: #fff;
      display: block;
      padding: 1rem; }
  .categories .category-list .category-single h2 {
    font-size: 1.6rem; }
  .categories .category-list .category-single a {
    color: #fff; }
    .categories .category-list .category-single a:hover {
      text-decoration: none; }
  .categories .category-list .category-single img {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    transition: all ease .3s;
    margin-right: -.5rem;
    margin-left: .5rem; }
  .categories .category-list .category-single .box-inside {
    align-self: flex-end; }

.productTopBar {
  background: #333;
  color: #fff;
  padding: .5rem;
  margin-bottom: 1rem; }
  .productTopBar span {
    align-self: center;
    display: inline-block;
    margin: 5px; }

#smallSelect {
  width: 80px;
  margin-left: auto;
  display: inline-block; }

.widget {
  margin-bottom: 1rem; }
  .widget h3 {
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    padding: 15px; }
  .widget .filters ul {
    padding: 0;
    margin: 0; }
  .widget .filters li {
    list-style-type: none;
    display: block;
    position: relative; }
  .widget .filters a {
    padding: 3px;
    display: block;
    padding-left: 1rem; }
    .widget .filters a.active {
      font-weight: bold; }
      .widget .filters a.active::before {
        position: absolute;
        top: 8px;
        left: 0;
        content: '';
        width: 10px;
        height: 13px;
        background-image: url(../img/icon-times.svg);
        background-repeat: no-repeat;
        background-size: contain; }

.product-list .product-single {
  padding: 1rem .5rem;
  transition: all ease 0.2s;
  border: 1px solid #f3f3f3;
  margin-bottom: 1rem; }
  .product-list .product-single:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    transition: all ease 0.2s; }
  .product-list .product-single .product-photo {
    text-align: center; }
    .product-list .product-single .product-photo img {
      margin: auto; }
  .product-list .product-single .product-title {
    font-weight: bold;
    color: #1B75BC;
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin-bottom: .5rem; }
  .product-list .product-single .product-desc {
    margin-bottom: .5rem; }
  .product-list .product-single .product-footer .price {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.3rem; }

.row.pagination {
  min-height: 50px;
  margin-top: 3rem; }
  .row.pagination nav {
    display: inline-block; }
    .row.pagination nav a {
      color: #1B75BC; }
      .row.pagination nav a:hover {
        border-bottom: 1px solid #1B75BC; }
    .row.pagination nav .active a {
      background-color: #1B75BC; }

section.breadcrums {
  background-color: #000;
  padding: 20px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  section.breadcrums .breadcrumb {
    background-color: transparent;
    color: #fff;
    font-size: rem;
    margin-bottom: 0; }
    section.breadcrums .breadcrumb a {
      color: #fff; }
    section.breadcrums .breadcrumb .breadcrumb-item.active {
      color: #fff;
      font-weight: bold; }

.item-single h1 {
  font-size: 2rem; }

.item-single .product-options .btn {
  background: none;
  box-shadow: none;
  border: 1px solid #ccc;
  min-width: auto;
  margin: 2px; }
  .item-single .product-options .btn.active {
    background: #1B75BC;
    color: #fff; }

.item-single .product-options.colors .btn {
  background: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: none;
  border: 0; }
  .item-single .product-options.colors .btn span {
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    border-radius: 15px; }

.product-rating {
  margin-bottom: 1rem; }
  .product-rating .half {
    opacity: .3; }

.product-buy {
  display: flex;
  margin-top: 1rem;
  align-content: center; }
  .product-buy .old {
    align-self: center;
    display: inline;
    text-decoration: line-through;
    font-weight: normal;
    margin-right: 10px;
    opacity: .6; }
  .product-buy .product-price {
    align-self: center;
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.3rem; }
  .product-buy .counter {
    align-self: center;
    width: 60px;
    margin-right: 20px; }

.productList .product-small {
  background: #fff;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px; }
  .productList .product-small:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1); }
  .productList .product-small .product-photo img {
    height: 60px; }
  .productList .product-small .title {
    font-weight: bold; }
  .productList .product-small .price {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 1.4rem; }

.modal .modal-header {
  display: block;
  text-align: center; }

.modal .modal-title h5 {
  display: block; }

.modal-dialog.modal-xl {
  min-width: 960px; }
  .modal-dialog.modal-xl .modal-body {
    max-height: 400px;
    overflow-y: scroll;
    background: #f3f3f3;
    padding: 1rem; }
    .modal-dialog.modal-xl .modal-body .productList {
      margin: 10px; }
      .modal-dialog.modal-xl .modal-body .productList .form-control {
        padding: 5px;
        text-align: center; }

.posts .post {
  border: 1px solid #f3f3f3;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all ease 0.2s;
  height: 465px;
  justify-content: flex-start;
  margin-bottom: 2rem; }
  .posts .post:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    transition: all ease 0.2s; }
  .posts .post .post-photo {
    margin-left: -10px;
    margin-right: -10px; }
  .posts .post a {
    color: #333; }
    .posts .post a:hover {
      text-decoration: none; }
  .posts .post .post-content {
    padding: .5rem .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .posts .post .post-date {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 0; }
  .posts .post .post-title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2rem;
    margin-bottom: .5rem; }
  .posts .post .post-intro a {
    color: #777; }
  .posts .post .post-footer {
    bottom: 0;
    margin-bottom: 0;
    margin-top: auto;
    padding: .5rem;
    color: #777;
    border-top: 1px solid #f3f3f3;
    display: flex; }
    .posts .post .post-footer .post-comments {
      align-self: flex-start;
      margin-right: 15px; }
      .posts .post .post-footer .post-comments img {
        margin-bottom: 2px; }
    .posts .post .post-footer .post-views img {
      margin-bottom: 4px; }
    .posts .post .post-footer .post-link {
      margin-right: 0;
      margin-left: auto;
      align-self: flex-end; }

.single-post-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
  .single-post-header h1 {
    color: #fff;
    margin-bottom: 0; }
  .single-post-header .single-post-author {
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold; }

.single-post-content {
  margin-bottom: 1rem; }

@media screen and (max-width: 991px) {
  #about {
    background-image: none; } }

@media screen and (min-width: 1200px) {
  #about {
    background-position-y: bottom;
    background-position-x: 80vw; } }

@media screen and (max-width: 640px) {
  #footer, #footer p {
    text-align: center;
    line-height: 1.8rem; }
  #main {
    text-align: center; }
  li.breadcrumb-item {
    text-align: center;
    display: none; }
    li.breadcrumb-item.active {
      display: block; }
  .product-buy {
    flex-direction: column; }
    .product-buy .product-price,
    .product-buy .counter {
      margin: 10px 0; }
  .productList .product-small {
    padding: 10px;
    text-align: center;
    height: auto; }
    .productList .product-small .cont {
      margin: auto; }
    .productList .product-small .price {
      text-align: center !important;
      margin-bottom: 10px; }
    .productList .product-small .form-control {
      max-width: 50%;
      margin: auto;
      text-align: center; }
    .productList .product-small .btn {
      margin: 10px auto; }
  .modal-dialog.modal-xl {
    min-width: auto; } }

.bgimg {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover; }

#heading {
  padding: 100px 0 0;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  #heading h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 800; }
  #heading .lead {
    font-size: 1rem;
    font-weight: 400; }
  #heading h3 {
    margin-top: 3rem; }
  #heading .phone {
    max-width: 100%;
    margin: auto; }

h2 {
  font-weight: 700;
  margin-bottom: 1rem; }

h3 {
  font-weight: 300; }

.lead {
  margin-bottom: 3rem; }

.btn-primary {
  background-color: #1B75BC;
  border: 1px solid #15598f;
  border-radius: 5px; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #15598f; }

.input-group .form-control-lg {
  border-radius: 5px;
  border: 1px solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

#vidPlay {
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -80px;
  border-radius: 50%;
  padding: 5px;
  opacity: .7;
  transition: all ease 0.2s; }
  #vidPlay:hover, #vidPlay:focus {
    opacity: .9; }

#footer {
  background-color: #1B75BC;
  padding: 15px;
  text-align: left;
  color: #fff;
  font-size: 0.8rem; }
  #footer ul {
    padding: 0;
    margin: 0; }
    #footer ul li {
      display: inline-block;
      margin: 0 10px;
      position: relative; }
      #footer ul li:first-child {
        padding-left: 0; }
        #footer ul li:first-child:before {
          content: none; }
  #footer a {
    color: #fff;
    text-decoration: none; }

.downloadApp {
  margin: 10px 10px 10px 0; }

#videoModal .modal-dialog {
  max-width: 60vw; }

#videoModal .modal-dialog .modal-content {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding: 0; }

#videoModal .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 0; }

#videoModal .modal-dialog .modal-content .modal-header .close {
  color: white;
  opacity: 1; }

#videoModal .modal-dialog .modal-content .modal-body {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0; }

#videoModal .modal-dialog .modal-content .modal-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 2px 20px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 20px 3px rgba(0, 0, 0, 0.25); }

@media screen and (max-width: 992px) {
  #videoModal .modal-dialog {
    max-width: 100%; }
  section {
    padding: 20px; }
  #heading {
    padding: 40px;
    height: auto;
    text-align: center;
    padding-bottom: 0; }
    #heading .input-group {
      margin: 20px auto;
      float: none;
      text-align: center;
      justify-content: center; }
    #heading .phone {
      margin-top: 3rem;
      position: relative; }
  #phoneContainer {
    flex-direction: column-reverse; }
  #vidPlay {
    margin-left: -80px; }
  #footer ul li {
    display: block;
    margin: 10px; }
    #footer ul li::before {
      content: none; } }

@media screen and (max-width: 500px) {
  .input-group .form-control-lg {
    border-radius: 5px;
    margin-bottom: 1rem; }
  .input-group .btn-primary {
    border-radius: 5px !important;
    display: block;
    height: 48px; }
  .downloadApp {
    margin: 10px auto !important; }
  #heading {
    padding: 20px;
    padding-bottom: 0; } }

#heading .phone {
  max-width: 400px;
  margin: auto; }

.ambassador {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 1.2rem 0;
  padding: 0;
  transition: 0.2s ease all;
  cursor: pointer; }
  .ambassador:hover, .ambassador:focus, .ambassador:active {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease all; }
  .ambassador .photo {
    margin: 0;
    padding: 0; }
    .ambassador .photo img {
      width: 100%;
      height: auto; }
  .ambassador .ambassador-body {
    padding: 10px 20px; }

.newsSlider {
  padding-bottom: 0px; }
  .newsSlider .singleNews {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease all;
    text-align: center;
    margin-bottom: 20px; }
    .newsSlider .singleNews:hover, .newsSlider .singleNews:focus, .newsSlider .singleNews:active {
      box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
      transition: 0.2s ease all; }
    .newsSlider .singleNews a:hover, .newsSlider .singleNews a:focus, .newsSlider .singleNews a:active {
      text-decoration: none;
      color: #000; }
    .newsSlider .singleNews .newsSingleBody {
      padding: 10px 20px; }
    .newsSlider .singleNews h3 {
      font-weight: normal; }

.input-group .btn {
  border-radius: 0; }

.posts .filters {
  margin-bottom: 3rem;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3; }
  .posts .filters a {
    padding: 12px 30px; }
    .posts .filters a.active {
      background: #1B75BC;
      color: #fff; }
      .posts .filters a.active:hover, .posts .filters a.active:focus, .posts .filters a.active:active {
        background-color: #15598f; }

.features {
  padding: 0;
  margin: 0; }
  .features li {
    list-style-type: none;
    margin-bottom: 40px; }
  .features .counter {
    height: 40px;
    width: 40px;
    background: #1B75BC;
    padding: 7px 15px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
    margin-top: 10px;
    margin-bottom: 10px; }
