.webz-insert-file-preview{
    padding-left: 20px;
}

.webz-insert-file{
    margin-right: 10px;
}

.webz-theme-settings-nav{

    margin-top: -25px;
    font-size: 1.5em;
    background: #0073aa;
    padding: 10px 10px;
    padding-bottom: 0px;
    margin-left: -10px;
    margin-right: -10px;
}

.webz-theme-settings-nav a, .webz-theme-settings-panel input[type="submit"]{
    border-radius: 0px !important;
    border: 0px !important;
    box-shadow: none !important;
    background-color: #23282d !important;
    color: white !important;
}

.webz-theme-settings-nav a.active, .webz-theme-settings-nav a:hover{
    background-color: white !important;
    color: black !important;
}

.webz-theme-settings-panel{

}

.webz-theme-settings-panel input[type="submit"]{
    
}

.webz-theme-settings-submit-button-wrap{
    width: 100%;
    text-align: right;
}

.webz-theme-settings-submit-button-wrap-header{
    padding-top: 10px;
}

.webz-theme-settings-submit-button-wrap-footer{
    padding-bottom: 10px;
}

/* LOADER BEGIN */
.webz-theme-settings-panel-loader-wrap{
    position: absolute;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.8);
    margin-top: -25px;
    margin-left: -10px;
    z-index: 10;
}

.webz-theme-settings-panel-loader-spinner {
    position: relative;
    border-right: 8px solid #333333;
    border-left: 8px solid #333333;
    border-top: 8px solid #2464bc;
    border-bottom: 8px solid #2464bc;    
    background-color: rgba(255,255,255,0.9);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    top: calc(50% - 48px);
    left: calc(50% - 48px);
    animation: spin 0.4s linear infinite;
}

.webz-theme-settings-panel-loader-logo{
    position: absolute;
    z-index: 2;
    top: calc(50% - 48px);
    left: calc(50% - 48px);
    background-image: url('../img/webz_logo.svg');
    background-position: 50% calc(50% - 2px);
    width: 96px; height: 96px;
    background-size: 50px;
    background-repeat: no-repeat;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* LOADER END */

.webz-theme-settings-panel label.error{
    color: red;
}

@media (min-width:961px){
    .webz-theme-settings-panel label.error{
        position: absolute;
        left: 5px;
        margin-top: 20px;
        padding: 5px;
    }
}

@media (max-width:960px){
    .webz-theme-settings-panel label.error{
        float: right;
        padding: 5px;
    }
}

.webz-theme-settings-panel input[type="text"],
.webz-theme-settings-panel input[type="url"],
.webz-theme-settings-panel textarea,
.webz-theme-settings-panel select{
    min-width: 50%;
}

@media (max-width:960px){
    .webz-theme-settings-panel input[type="text"],
    .webz-theme-settings-panel input[type="url"],
    .webz-theme-settings-panel textarea,
    .webz-theme-settings-panel select{
        width: 100%;
    } 
}